<!-- index.html -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" 
          content="width=device-width, initial-scale=1.0">
    <title>Student Attendance Portal</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/attendance.css') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
        crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.16.2/xlsx.full.min.js"></script>
    <style>
        .popup {
            display: none;
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            padding: 20px;
            background-color: #fff;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
            z-index: 999;
        }


    </style>
</head>

<body>
    <div class="container">
        <div class="form-container">
            <div id="formSection">
                <h2>Marked Attendance</h2>
                <ul id="studentsList">
                    <!-- Populate students dynamically 
                        based on the selected class -->
                </ul>

                <div id="summarySection">
                    <h3>Summary</h3>
                    <p>
                        Total Students: 
                        <span id="totalStudents">0</span>
                    </p>
                    <p>
                        Total Present: 
                        <span id="totalPresent">0</span>
                    </p>
                    <p>
                        Total Absent: 
                        <span id="totalAbsent">0</span>
                    </p>
                    <p>
                        Total Leave: 
                        <span id="totalLeave">0</span>
                    </p>
                </div>

                <!-- Result Section -->
                <div id="resultSection" style="display: none;">
                    <h3>Attendance Result</h3>
                    <p>
                        Date: 
                        <span id="attendanceDate"></span>
                    </p>
                    <p>
                        Time: 
                        <span id="attendanceTime"></span>
                    </p>
                    <p>
                        Class: 
                        <span id="attendanceClass"></span>
                    </p>
                    <p>
                        Total Students: 
                        <span id="attendanceTotalStudents"></span>
                    </p>
                    <p>
                        Present: 
                        <span id="attendancePresent"></span>
                    </p>
                    <p>
                        Absent: 
                        <span id="attendanceAbsent"></span>
                    </p>
                    <p>
                        Leave: 
                        <span id="attendanceLeave"></span>
                    </p>
                </div>
            </div>
        </div>
        <pre id="json" style="display: none;"></pre>
            <button class="btn btn-primary" onclick="downloadAsExcel()">download excel</button>
    </div>

    <script src="/static/js/attendance.js"></script>
    <script src="/static/js/json-excel.js"></script>
    <script>
        function retriveStudentList(){
            const selectedClass = localStorage.getItem('attendanceClass');
            const selectDate = localStorage.getItem('clickedBtn');
            const studentsList =
                document.getElementById('studentsList');
            studentsList.innerHTML = '';
            // Retrieve students from local storage
            const savedStudents = JSON.parse
                (localStorage.getItem('students')) || {};
                
            const selectedClassStudents = [];
            fetch('https://us-east-2.aws.neurelo.com/rest/attendance?select={"enrollment_link_ref":{"employees_ref": {"first_name":true,"last_name":true,"employee_id":true}},"status":true}&filter={"date":"'+selectDate+'","enrollment_link_ref":{"class_id":"'+selectedClass+'"}}&order_by=[{"enrollment_link_ref":{"employees_ref":{"employee_id":"asc"}}}]', {
                method: 'GET',
                headers: {
                    'X-API-Key': 'neurelo_9wKFBp874Z5xFw6ZCfvhXdrIxbYidUfYmprDJks1tK7y+CdPciG0qgAl1exw69RQYdQYxvqcRG1GgVajqZknUzwW3VIC3xEqNyynTa2l6w7oNlrUhKRqRwBMMl8+7AZa47Yep4FXq3GDsvF4EEl8V0KoyaErzYwNp/1UgzVKPIIJ0g4CU0FZ7DttiyrVmTey_QQJSGjZU26OLFcPkkURgzkUzltgQryhI0R5NRDB76x4=',
                    'Content-Type': 'application/json'
                }
            })
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Network response was not ok');
                    }
                    return response.json();
                })
                .then(data => {
                    for (var i = 0; i < data.data.length; i++) {
                        let temp = {
                            name: data.data[i].enrollment_link_ref.employees_ref.first_name + " " + data.data[i].enrollment_link_ref.employees_ref.last_name,
                            rollNumber: data.data[i].enrollment_link_ref.employees_ref.employee_id,
                            status:data.data[i].status.toLowerCase()
                        }
                        selectedClassStudents.push(temp);
                    }
                    document.getElementById("json").innerHTML = JSON.stringify(selectedClassStudents, undefined, 4);
                    insertStudents(selectedClassStudents);
                })
                .catch(error => {
                    console.error('There was a problem with the fetch operation:', error);
                });
            }

            function insertStudents(selectedClassStudents){
                selectedClassStudents.forEach(student => {
                    if (student.name == undefined)
                        return;
                    const listItem = document.createElement('li');
                    listItem.setAttribute
                        ('data-roll-number', student.rollNumber);
                    listItem.innerHTML =
                        `<strong>
                            ${student.name}
                        </strong> <div style="flex:1;"><b>${student.status.toUpperCase()}</b></div>
                        (Roll No. ${student.rollNumber})`;
                    
                    listItem.style.backgroundColor = getStatusColor(student.status);

                    studentsList.appendChild(listItem);
                });

                // Check if attendance for the 
                // selected class has been submitted
                const resultSection = document.
                    getElementById('resultSection');
                const isAttendanceSubmitted =
                    resultSection.style.display === 'block';
                document.getElementById('totalStudents').innerText = JSON.parse(localStorage.getItem('summary')).total;
                document.getElementById('totalPresent').innerText = JSON.parse(localStorage.getItem('summary')).present;
                document.getElementById('totalAbsent').innerText = JSON.parse(localStorage.getItem('summary')).absent;
                document.getElementById('totalLeave').innerText = JSON.parse(localStorage.getItem('summary')).late;
            }
    </script>
</body>

</html>